<!DOCTYPE html>
<html>
<head>
  <title>PiggybakRealtimeShipping</title>
  <%= stylesheet_link_tag    "piggybak_realtime_shipping/application", :media => "all" %>
  <%= javascript_include_tag "piggybak_realtime_shipping/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
